* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../assets/back.jpg) no-repeat;
  background-size: cover;
}

.header {
  margin: 4rem 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

.header * {
  margin: 0.5em;
}

.main {
  width: 100%;
  text-align: center;
  color: #fff;
}

.main__input {
  padding: 0.7rem 2rem;
}
.main__results {
  display: flex;
  flex-direction: column;
}
.main__country {
  border: 1px solid #fff;
  margin: 1rem;
}
.country__name {
  margin: 1rem 0;
  cursor: pointer;
}
.country__cities {
  list-style: none;
  display: none;
  transition: all 0.5s ease-in-out;
  height: 0;
}
.country__cities:target {
  height: auto;
  display: inline-block;
}
.country__item {
  margin: 1rem 1.2rem;
}
